<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let puzzle"> {{puzzle.name}} </td>
    </ng-container>

    <ng-container matColumnDef="piecesCount">
      <th mat-header-cell *matHeaderCellDef> Pieces Count </th>
      <td mat-cell *matCellDef="let puzzle"> {{puzzle.piecesCount}} </td>
    </ng-container>

    <ng-container matColumnDef="genreName">
      <th mat-header-cell *matHeaderCellDef> Theme </th>
      <td mat-cell *matCellDef="let puzzle"> {{puzzle.genreName}} </td>
    </ng-container>

    <ng-container matColumnDef="puzzleBrandName">
      <th mat-header-cell *matHeaderCellDef> Puzzle Brand </th>
      <td mat-cell *matCellDef="let puzzle"> {{puzzle.puzzleBrandName }} </td>
    </ng-container>

    <ng-container matColumnDef="rent">
      <th mat-header-cell *matHeaderCellDef> Rent </th>
      <td mat-cell *matCellDef="let puzzle"> <button mat-stroked-button color="accent">Rent</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>
