/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.card-content {
    width: 80%;
    margin: 1em auto;
}

.full-width {
  min-width: 50%;
}
